<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="<%= base_path %>/static/style.css" type="text/css" rel="stylesheet">
    <script src="<%= base_path %>/static/js/emkan.js" type='application/javascript'></script>
    <title>AL Rajhi Takaful for Islamic Insurance Services | AL Rajhi Takaful KSA</title>
    <link rel="icon" type="image/x-icon" href="<%= base_path %>/static/favicon.ico">

    <style>
        .overflow-y {
            overflow-y: auto;
        }

        input[type="text"] {
            padding: 12px 16px;
            border-radius: 4px;
            border: 1px solid #C6CCD4;
            border-radius: 5px;
            font-size: 16px;
            line-height: 22.5px;
            text-align: center;
        }

        .main-content {
            padding: 32px;
        }

        .button-div {
            padding: 16px 24px 20px 4px;
        }

        .teal {
            color: #31c5c0 !important;
        }

        .text-align-start {
            text-align: start;
        }

        .padding-left_13 {
            padding-left: 13%
        }

        .padding-left_4 {
            padding-left: 4%
        }

        .font-14-pt {
            font-size: 14pt;
        }

        @media only screen and (min-width: 768px) {
            .mt-16 {
                margin-top: 30px;
            }

            .w-48 {
                width: 45% !important;
            }
        }

        @media only screen and (max-width: 767px) {
            .mt-16 {
                margin-top: 30px;
            }

            .w-48 {
                width: 100% !important;
            }

            .header {
                font-size: 15px;
            }

            .font-size-18 {
                font-size: 10px;
            }

            .padding-left_13 {
                padding-left: 0px;
            }

            .text-align-start {
                text-align: start;
                font-size: 12px;
            }

            .bullet-list {
                font-size: 10px;
            }

            .font-14-pt {
                font-size: 10pt;
            }

            input[type="text"] {
                padding: 12px 16px;
                border-radius: 4px;
                border: 1px solid #C6CCD4;
                border-radius: 5px;
                font-size: 12px;
                line-height: 10.5px;
                text-align: center;
            }
        }

        .w-48 {
            width: 100%;
        }

        .input_fields_col {
            flex-flow: column wrap;
            box-sizing: border-box;
            display: flex;
        }

        .input_fields_row {
            flex-flow: row wrap;
            box-sizing: border-box;
            display: flex;
        }

        .width_80 {
            width: 80%;
        }
    </style>
</head>

<body>
    <div id="popup" class="popup overflow-y">
        <!-- Page loader -->
        <div class="page-loader" id="show_loader">
            <div class="loader"></div>
        </div>
        <div class="popup-content" id="emkan_payment" data-payer='<%= JSON.stringify(dataObj) %>'>
            <% if (activity_type==='get_voucher' ) { %>
                <div class="main-content text-center">
                    <div class="title-div">
                        <span class="close" id="closePopup">&times;</span>
                    </div>
                    <div class="header padding-16-24 lg-text--secondary-blue-500 ff-regular lg-text fw-700">
                        Emkan
                    </div>
                    <div class="neutral-dark-500 font-weight-500 font-size-18">
                        If you have a voucher code with a value of “checkout amount”, please add it below.
                    </div>
                    <div class="header padding-16-24 lg-text--secondary-blue-500 ff-regular lg-text fw-700 teal mt-16">
                        Already have an Emkan loan
                    </div>
                    <div class="text-align-start padding-left_13">
                        Conditions to get a loan
                        <ul class="bullet-list neutral-dark-300">
                            <li>Age from 20 - 70</li>
                            <li>Finance amount 1500 - 80K SAR</li>
                            <li>Minimum approved salary 2000 SAR</li>
                        </ul>
                    </div>
                    <div class="mt-16 input_fields_row width-100 flex-wrap row_gap_10">
                        <div class="input_fields_col w-48 text-align-start padding-left_4">
                            <span class="font-14-pt">Voucher Number</span>
                            <span class="font-size-18">Please enter Emkan voucher number.</span>
                        </div>
                        <div class="input_fields_col w-48">
                            <input type="text" placeholder="Example: 4ZIO9ctKUxKIYJWD" class="width-100"
                                id="voucher_no" />
                        </div>
                    </div>
                    <div class="mt-16 input_fields_row width-100 flex-wrap row_gap_10">
                        <div class="input_fields_col w-48 text-align-start padding-left_4">
                            <span class="font-14-pt">Application ID</span>
                            <span class="font-size-18">Please enter Emkan application ID.</span>
                        </div>
                        <div class="input_fields_col w-48">
                            <input type="text" placeholder="XXXXXXXX" class="width-100" id="application_id" />
                        </div>
                    </div>
                    <div id="error_msg" class="error_msg">
                        <%= errorMessage %>
                    </div>
                    <div class="button-div">
                        <button class="primary-button ml-16 width_80" id="get_voucher">Submit</button>
                    </div>
                </div>
                <% } %>
                    <% if (activity_type==='enter_otp' ) { %>
                        <div class="main-content text-center">
                            <div class="header padding-16-24">
                                Emkan
                            </div>
                            <div>
                                <div class="neutral-dark-500 font-weight-500 font-size-18">
                                    Please Enter The One Time Password
                                </div>
                                <div class="neutral-dark-300 font-weight-500 font-size-18 mt-16">
                                    One time password has been send to your mobile number
                                </div>

                                <div class="edit-input mt-16">
                                    <div id="otp_val">
                                        <input type="text" maxlength="1" class="otp-input" id="otp_1" placeholder="-" />
                                        <input type="text" maxlength="1" class="otp-input" id="otp_2" placeholder="-" />
                                        <input type="text" maxlength="1" class="otp-input" id="otp_3" placeholder="-" />
                                        <input type="text" maxlength="1" class="otp-input" id="otp_4" placeholder="-" />

                                    </div>
                                </div>
                                <div id="error_msg_1" class="error_msg_1">
                                    <%= errorMessage %>
                                </div>

                            </div>
                            <div class="button-div">
                                <button class="primary-button ml-16" id="enter_otp_submit">Submit</button>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>
</body>