<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="<%= base_path %>/static/js/payment_status.js" type="text/javascript"> </script>
    <link href="<%= base_path %>/static/style.css" type="text/css" rel="stylesheet">
    <title>AL Rajhi Takaful for Islamic Insurance Services | AL Rajhi Takaful KSA</title>
    <link rel="icon" type="image/x-icon" href="<%= base_path %>/static/favicon.ico">
</head>
<script>
    // Define a global JavaScript variable to hold the options array
    var localArrayData = "<%= JSON.stringify(locale_arr) %>";
    var dataObj = "<%= JSON.stringify(dataObj) %>"
</script>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
    }

    .flex-col {
        flex-direction: column;
        display: flex;
    }

    .flex-row {
        flex-direction: row;
        display: flex;
    }

    .padding-20 {
        padding: 20px;
    }

    .surface_bgcolor {
        background-color: #F1F5FB;
    }

    .borderToolbar {
        border-bottom: 1px solid #EDEEF1;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        background-color: white;
        padding-left: 16px;
        padding-right: 16px;
    }

    .spce_between_center {
        justify-content: space-between;
        align-items: center;
    }

    .start_stetch {
        justify-content: start;
        align-items: stretch;
    }

    .start_center {
        justify-content: start;
        align-items: center;
    }

    .center_center {
        justify-content: center;
        align-items: center;
    }

    .row_gap_16 {
        gap: 16px;
    }

    .title {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #1F2329;
    }

    .content_height {
        height: calc(100vh - 14vh);
    }

    .margin_top_0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .margin_top_10 {
        margin-top: 10px;
    }

    .subtitle {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #878E98;
    }

    .border-box {
        padding: 4px 24px 4px 24px;
        border-radius: 4px;
        border-top: 1px solid #878E98;
        border-bottom: 1px solid #878E98;
    }

    .border-line {
        padding: 4px 24px 4px 24px;
        border-radius: 4px;
        border: 1px solid #878E98;
    }

    .width_100 {
        width: 100%;
    }

    .text_align {
        text-align: center;
    }

    .line_height {
        line-height: 3;
    }

    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 20px;
    }

    .height_100Per {
        height: 100%;
    }

    .auth_Code {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        /* line-height: 23px; */
        letter-spacing: 0em;
    }


    .code {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        /* line-height: 23px; */
        letter-spacing: 0em;
        text-align: left;
    }

    select {
        padding: 4px 12px 4px 12px;
        /* Adjust the value as needed */
    }

    .copy {
        background: #0b65e44f;
        border: 1px solid #878E98;
        border-radius: 4px;
        padding: 2px;
        margin-top: 5px;
    }

    .home_button {
        display: flex;
        width: 176px;
        padding: 6px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        border-radius: 24px;
        background: var(--teal-500-baseline, #00AEAA);
        border: none !important;
        color: white;
    }

    #timer {
        font-size: 24px;
        font-weight: bold;
    }

    .image_width {
        width: 25%;
    }

    .h6-text {
        font-size: 28px;
        line-height: 125%;
    }

    .yellow-500 {
        color: #F5A800;
    }

    .width_25 {
        width: 25%;
    }

    .title-div {
        border-bottom: 1px solid #F3F7FD;
        justify-items: space-between;
        padding: 16px 20px 16px 20px;
    }
</style>

<body>
    <div class="flex-container">
        <!-- toolbar -->
        <nav class="navbar borderToolbar">
            <div class="flex-row spce_between_center">
                <div class="flex-col start_stetch" id="local_arr" local-array-data='<%= JSON.stringify(locale_arr) %>'>
                    <% if(locale=='en' ) { %>
                        <div class="flex-row start_center row_gap_16">
                            <img src="<%= logo %>">
                        </div>
                        <% } else if (locale=='ar' ) { %>
                            <select id="mySelect" name="mySelect" class="dropdown_width_height fw-400 font-poppins">
                                <% locale_arr.forEach(function(option) { %>
                                    <option value="<%= option.key %>" <%=option.key===locale ? 'selected' : '' %>>
                                        <%= option.value %>
                                    </option>
                                    <% }); %>
                            </select>
                            <% } %>
                </div>
            </div>
            <div class="flex-row start_center">
                <% if(locale=='en' ) { %>
                    <select id="mySelect" name="mySelect" class="dropdown_width_height fw-400 font-poppins">
                        <% locale_arr.forEach(function(option) { %>
                            <option value="<%= option.key %>" <%=option.key===locale ? 'selected' : '' %>><%=
                                    option.value %>
                            </option>
                            <% }); %>
                    </select>
                    <% } else if (locale=='ar' ) { %>
                        <div class="flex-row start_center row_gap_16">
                            <img src="<%= logo %>">
                        </div>
                        <% } %>
            </div>
        </nav>
        <% if(payment_status !='Pending Payment' ) { %>
            <div class="flex-row center_center surface_bgcolor content_height padding-20" id="dataElement"
                data-options='<%= JSON.stringify(dataObj) %>'>
                <div class="flex-col width_100 card height_100Per">
                    <div class="flex-row end_end title-div">
                        <span class="close" id="closePopup">&times;</span>
                    </div>
                    <div class="flex-col center_center width_100">
                        <div class="flex-row">
                            <% if(payment_status==='success' || payment_status==='completed' ) { %>
                                <img src="<%= success %>">
                                <% } else if (payment_status.includes('pending')) { %>
                                    <img src="<%= failed %>">
                                    <% } else { %>
                                        <img src="<%= failed %>">
                                        <% } %>
                        </div>
                        <div class="flex-row">
                            <p class="title margin_top_0">
                                <%=desc_1 %>
                            </p>
                        </div>
                        <div class="flex-row width_80">
                            <p class="subtitle">
                                <%=desc_2 %>
                            </p>
                        </div>
                        <div class="flex-row width_100 text_align">
                            <span class=" border-box width_100 line_height auth_Code">
                                <%=desc_3 %> <span class="code" id="txnRefNumber">
                                        <%=txn_ref_number %>
                                    </span> <svg id="copy" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                                    </svg>
                            </span>
                        </div>
                        <% if(locale=='en' ) { %>
                            <span id="copied" class="copy margin_top_3">Copied!</span>
                            <% } else { %>
                                <span id="copied" class="copy margin_top_3">تم النسخ!</span>
                                <% } %>
                                    <% if (frontend_cb_success_url && frontend_cb_success_url !='' &&
                                        (payment_status==='success' || payment_status==='completed' ) && locale=='en' )
                                        { %>
                                        <div class="message margin_top_10 subtitle width_80">Payment has been <%=
                                                payment_status %>.
                                                You will be
                                                redirected to the next page shortly.</div>
                                        <button type="button" class="home_button margin_top_10" id="backtohome"
                                            data-options='<%= frontend_cb_success_url %>'>Back to Home</button>
                                        <div id="timer" class="margin_top_10 subtitle">10</div>
                                        <% } %>
                                            <% if (frontend_cb_success_url && frontend_cb_success_url !='' &&
                                                (payment_status==='success' || payment_status==='completed' ) &&
                                                locale=='ar' ) { %>
                                                <div class="message margin_top_10 subtitle width_80">اكتمل الدفع سيتم
                                                    توجيهة الي الصفحة الرئيسية
                                                </div>
                                                <button type="button" class="home_button margin_top_10" id="backtohome"
                                                    data-options='<%= frontend_cb_success_url %>'>الرجوع الي الصفحة
                                                    الرئيسية</button>
                                                <div id="timer" class="margin_top_10 subtitle">١٠</div>
                                                <% } %>
                    </div>
                </div>
            </div>
            <% } else { %>
                <div class="flex-row center_center surface_bgcolor content_height padding-20" id="dataElement"
                    data-options='<%= JSON.stringify(dataObj) %>'>
                    <div class="flex-col width_100 card height_100Per">
                        <div class="flex-row end_end title-div">
                            <span class="close" id="closePopup">&times;</span>
                        </div>
                        <div class="flex-col center_center width_100">
                            <div class="flex-row center_center">
                                <img class="image_width" src="<%= pending %>">
                            </div>
                            <div class="flex-row">
                                <p class="title margin_top_0 yellow-500">
                                    <%=desc_1 %>
                                </p>
                            </div>
                            <div class="flex-row width_80">
                                <p class="subtitle">
                                    <%=desc_2 %>
                                </p>
                            </div>
                            <div class="flex-row width_100 text_align center_center">
                                <div class="border-line width_25 ">
                                    <div class=" line_height auth_Code yellow-500">
                                        <%=desc_4 %>
                                    </div>
                                    <span class=" line_height auth_Code yellow-500">
                                    </span>
                                    <span class="code" id="txnRefNumber">
                                        <%=sadad_bill_no %>
                                    </span> <svg id="copy" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                                    </svg>
                                    </span>
                                </div>
                            </div>
                            <% if(locale=='en' ) { %>
                                <span id="copied" class="copy margin_top_3">Copied!</span>
                                <% } else { %>
                                    <span id="copied" class="copy margin_top_3">تم النسخ!</span>
                                    <% } %>
                                        <div class="flex-row width_80">
                                            <p class="subtitle yellow-500">
                                                <%=desc_3 %>
                                            </p>
                                        </div>
                        </div>
                    </div>
                </div>
                <% } %>
</body>