<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link href="<%= base_path %>/static/style.css" type="text/css" rel="stylesheet">
  <script src="<%= base_path %>/static/js/payment_method.js" type='application/javascript'></script>
  <title>AL Rajhi Takaful for Islamic Insurance Services | AL Rajhi Takaful KSA</title>
  <link rel="icon" type="image/x-icon" href="<%= base_path %>/static/favicon.ico">
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background: rgba(188, 219, 241, 0.20);
      margin: 0px;
      padding: 0px;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 10px 16px 10px 16px;
      background: #FFFFFF;
    }

    /* .flex-container {
      background: rgba(188, 219, 241, 0.20);
    } */

    .font-poppins {
      font-family: 'Poppins', sans-serif !important;
    }

    .p-20 {
      padding: 20px;
    }

    .border-radius-20 {
      border-radius: 20px;
    }

    .payment-card-container {
      border-radius: 20px;
      background-color: #FFFFFF;
      padding: 45px 38px;
    }

    .payment-main {
      padding: 25px 36px;
    }

    .border-primary-100 {
      border: 1px solid #BADBED;
      border-radius: 20px;
    }

    .title-container {
      border-radius: 20px 20px 0px 0px;
      border-bottom: 1px solid #BADBED;
      background: rgba(188, 219, 241, 0.20);
    }

    .body-container {
      padding: 30px 50px;
    }

    .image-container {
      border-radius: 9.763px;
      border: 1.22px solid #BADBED;
      background-color: #FFFFFF;
      margin-bottom: 32px;
      padding: 30px 0;
      flex-flow: column wrap;
      box-sizing: border-box;
      display: flex;
      place-content: center;
      align-items: center;
      flex: 1 1 30%;
      /* max-width: 30%; */
      width: 278.24px;
      height: 144px;
      margin-right: 12px;
      transition: box-shadow 0.3s ease;
    }

    /* Hover effect */
    .image-container:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 2px solid #228BC4;
    }

    /* Clicked effect */
    .image-container.clicked {
      box-shadow: 0 21px 6px rgba(0, 0, 0, 0.2);
      border: 2px solid #9dcfeb;
    }

    /* Unclicked effect */
    .image-container.unclicked {
      opacity: 0.5;
      /* Adjust opacity to make unclicked cards appear faded */
    }

    /* Selected Effect*/
    .image-container.selected {
      border: 2px solid #228BC4;
    }

    .disabled-button {
      background-color: #cccccc !important;
      color: #666666 !important;
      cursor: not-allowed !important;
    }

    .confirmation-container {
      border-top: 1px solid #BADBED;
      padding: 38px 46px;
    }

    .footer-container {
      border-top: 1px solid #BADBED;
      text-align: end;
    }

    .m-confirmation-container {
      padding: 38px 16px !important;
    }

    .m-body-container {
      padding: 30px 10px !important;
    }


    .m-payment-card-container {
      padding: 28px 18px !important;
    }

    .payment-img {
      width: 90%;
    }

    .active-img {
      box-shadow: 0 4px 8px #A9A9A9;
    }

    .sm-text {
      font-size: 15px;
      line-height: 22.5px;
    }

    .lg-text {
      font-size: 20px;
      line-height: 150%;
    }

    .xl-text {
      font-size: 24px !important;
      line-height: 132% !important;
      font-family: "poppins-medium";
    }

    .lg-text--secondary-blue-500 {
      color: #1f4280;
    }

    .primary-blue-650 {
      color: #0073AF;
    }

    .ff-regular {
      font-family: "Poppins", sans-serif !important;
    }


    .mb-30 {
      margin-bottom: 30px;
    }

    .mt-20 {
      margin-top: 20px;
    }

    .w-30 {
      width: 30%;
    }

    .img-parent-div {
      flex-flow: column wrap;
      box-sizing: border-box;
      display: flex;
      place-content: center flex-start;
      align-items: center;
    }

    .img-options {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: space-around;
    }

    .primary-button {
      width: 130px;
      height: 40px;
      background-color: #228BC4;
      color: white;
      font-weight: 600;
      padding: 4px 20px 4px 20px;
      border-radius: 24px;
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
    }

    /*Font weights*/
    .fw-400 {
      font-weight: 400;
    }

    .fw-500 {
      font-weight: 500;
    }

    .fw-600 {
      font-weight: 600;
    }

    .fw-700 {
      font-weight: 700;
    }


    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .font-size-18 {
        font-size: 14px;
      }

      .font-size-20 {
        font-size: 16px;
      }

      .header {
        font-size: 18px;
      }

      .padding-16-24 {
        padding: 0px;
      }

      .mt-16 {
        margin-top: 4px;
      }

      .p-20 {
        padding: 10px;
      }

      .body-container {
        padding: 10px 20px;
      }

      .confirmation-container {
        padding: 0px;
      }

      .image-container {
        flex: 1 1 45%;
        /* margin-right: 0px; */
        max-width: 45%;
      }

      .w-30 {
        width: 45%;
      }

      .xl-text {
        font-size: 16px !important;
      }


      .primary-button {
        width: 100%;
        height: 40px;
      }

      /* Secondary Button */
      .secondary-button {
        width: 100%;

      }

      .w-50 {
        width: 50%;
      }

      .otp-input {
        width: 24px;
        height: 24px;
      }

      .input-container input[type="text"] {
        width: 50%;
      }

      /* .prefix {
        position: absolute;
        left: 0%;
      } */
      .prefix {
        left: 8%;
      }


    }

    @media (max-width: 767px) {

      .lg-text {
        font-size: 15px;
      }

      .sm-text {
        font-size: 12px;
      }

      .font-size-18 {
        font-size: 14px;
      }

      .font-size-20 {
        font-size: 16px;
      }

      .header {
        font-size: 18px;
      }

      .padding-16-24 {
        padding: 0px;
      }

      .mt-16 {
        margin-top: 4px;
      }

      .p-20 {
        padding: 10px;
      }

      .body-container {
        padding: 10px 20px;
      }

      .confirmation-container {
        padding: 15px 15px;
      }

      .confirmation-container .mt-20 {
        margin-top: 10px;
      }

      .image-container {
        flex: 1 1 100%;
        margin-right: 0px;
        height: 120px;
        /* max-width: 45%; */
      }

      .w-30 {
        width: 45%;
      }

      .xl-text {
        font-size: 16px !important;
      }


      .primary-button {
        width: 150px;
        height: 40px;
      }

      /* Secondary Button */
      .secondary-button {
        width: 100%;

      }

      .w-50 {
        width: 50%;
      }

      .otp-input {
        width: 24px;
        height: 24px;
      }

      .input-container input[type="text"] {
        width: 50%;
      }

      .prefix {
        position: absolute;
        left: 0%;
      }

      .mb-30 {
        margin-bottom: 12px;
      }

      .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }


    }

    .page-loader {
      display: flex !important;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      /* Gray color with opacity */
      z-index: 9999;
      /* Ensure it's on top of other content */
    }

    /* Styles for the loader */
    .loader {
      border: 4px solid #f3f3f3;
      /* Gray border */
      border-top: 4px solid #A9A9A9;
      /* Blue border for animation */
      border-radius: 50%;
      width: 20px;
      /* Small size */
      height: 20px;
      /* Small size */
      animation: spin 1s linear infinite;
      /* Animation for spinning */
      margin: auto;
      /* Adjust the top margin */
    }

    /* Animation keyframes for spinning */
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</head>

<body>
  <div class="flex-container">
    <!-- Page loader -->
    <div class="page-loader" id="show_loader">
      <div class="loader"></div>
    </div>
    <nav class="navbar borderToolbar">
      <div class="flex-row spce_between_center">
        <div class="flex-col start_stetch">
          <div class="flex-row start_center row_gap_16">
            <img src="<%= logo %>">
          </div>
        </div>
      </div>
      <div class="flex-row start_center" id="local_arr" local-array-data='<%= JSON.stringify(locale_arr) %>'>
        <select id="mySelect" name="mySelect" class="dropdown_width_height fw-400 font-poppins">
          <% locale_arr.forEach(function(option) { %>
            <option class="fw-400 font-poppins" value="<%= option.key %>" <%=option.key===locale ? 'selected' : '' %>>
              <%= option.value %>
            </option>
            <% }); %>
        </select>
      </div>
    </nav>
    <div class="payment-main" id="dataElement" data-options='<%= JSON.stringify(dataObj) %>'>
      <div class="payment-card-container">
        <div class="border-primary-100">
          <div class="p-20 title-container">
            <% if(locale=='ar' ) { %>
              <div class="lg-text--secondary-blue-500 ff-regular lg-text fw-700"> الرجاء تحديد طريقة الدفع </div>
              <% } else { %>
                <div class="lg-text--secondary-blue-500 ff-regular lg-text fw-700"> Please Select Payment Method </div>
                <% } %>
          </div>
          <div class="body-container">
            <div class="mb-30">
              <% if(locale=='ar' ) { %>
                <div>
                  <div class="primary-blue-650 fw-600 font-poppins sm-text"> مقدار : <span class="xs-bold">
                      <%= currency%>
                    </span>
                    <span>
                      <% if(outstanding_amount) { %>
                        <%= outstanding_amount %>
                          <% } else {%>
                            <%= amount%>
                              <% } %>
                    </span>
                    <% if(redeemed_amount) { %>
                      <br>
                      <span>
                        <span class="xs-bold font-poppins"> Redeemed Amount: SAR <%= redeemed_amount %>
                        </span>
                        <br>
                        <span>
                          <span class="xs-bold font-poppins"> Actual Premium: SAR <%= amount %>
                          </span>
                          <% } %>
                  </div>
                </div>
                <% } else { %>
                  <div>
                    <div class="primary-blue-650 fw-600 font-poppins sm-text"> Amount : <span class="xs-bold">
                        <%= currency%>
                      </span>
                      <span>
                        <% if(outstanding_amount) { %>
                          <%= outstanding_amount %>
                            <% } else {%>
                              <%= amount%>
                                <% } %>
                      </span>
                      <% if(redeemed_amount) { %>
                        <br>
                        <span>
                          <span class="xs-bold font-poppins"> Redeemed Amount: SAR <%= redeemed_amount %>
                          </span>
                          <br>
                          <span>
                            <span class="xs-bold font-poppins"> Actual Premium: SAR <%= amount %>
                            </span>
                            <% } %>
                    </div>
                  </div>
                  <% } %>
            </div>
            <div class="mb-30">
              <div class="flex-row img-options">
                <% options.forEach(function(type) { %>
                  <div class="flex-col w-30 image-container" id="payment_option"
                    data-type='<%- JSON.stringify(type) %>'>
                    <div class="flex-col img-parent-div">
                      <img class="payment-img" src="<%= type['image_path'] %>">
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>
            <div class="confirmation-container">
              <div class="width-100">
                <% if(locale=='ar' ) { %>
                  <div class="lg-text lg-text--color-black fw-700"> التأكيد</div>
                  <% } else { %>
                    <div class="lg-text lg-text--color-black fw-700"> Confirmation </div>
                    <% } %>
              </div>
              <div class="mt-20 width-100">
                <% if(locale=='ar' ) { %>
                  <div class="xs-regular--color-black sm-text">
                    من خلال الضغط على زر تأكيد ودفع؛ أنت تؤكد وتوافق على أن البيانات المذكورة في النموذج الإلكتروني
                    للتطبيق للاشتراك في تكافل صحيحة وكاملة، وأنك قرأت ووافقت على الشروط والأحكام، وميثاق التعاون بين
                    المشاركين الذي يحدد إطار العلاقة التعاقدية بين الشركة والمشاركين، وبين المشاركين والمشاركين
                    الآخرين.
                  </div>
                  <% } else { %>
                    <div class="xs-regular--color-black sm-text"> By pressing the confirm and pay button; You
                      confirm &amp; agree that the data mentioned in the application e-form of subscribe to
                      Takaful are correct and complete, and that you have read and agreed to the Terms and
                      Conditions, and the Pact of Cooperation between Participants that defines the framework
                      of the contractual relationship between the company and participants, and between the
                      participant and other participants. </div>
                    <% } %>
              </div>
            </div>
          </div>
          <div class="footer-container p-20">
            <div>
              <% if(locale=='ar' ) { %>
              <button class="primary-button font-poppins" id="pay">يدفع</button>
              <% } else { %>
                <button class="primary-button font-poppins" id="pay">Pay</button>
                <% } %>
            </div>
          </div>
        </div>
        <div id="snackbar">Snackbar Message</div>
      </div>
    </div>
  </div>
</body>

</html>