<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="<%= base_path %>/static/style.css" type="text/css" rel="stylesheet">
    <script src="<%= base_path %>/static/js/urpay.js" type='application/javascript'></script>
    <title>AL Rajhi Takaful for Islamic Insurance Services | AL Rajhi Takaful KSA</title>
    <link rel="icon" type="image/x-icon" href="<%= base_path %>/static/favicon.ico">

    <style>
        input[type="text"] {
            padding: 12px 16px;
            border-radius: 4px;
            border: 1px solid #C6CCD4;
            border-radius: 5px;
            font-size: 16px;
            line-height: 22.5px;
            text-align: center;
        }

        .main-content {
            padding: 5px;
        }
        
        .button-div {
            padding: 16px 24px 20px 4px;
        }
    </style>
</head>

<body>
    <div id="popup" class="popup">
        <!-- Page loader -->
        <div class="page-loader" id="show_loader">
            <div class="loader"></div>
        </div>
        <div class="popup-content" id="urpay_payment" data-payer='<%= JSON.stringify(dataObj) %>'>
            <div class="main-content text-center">
                <div class="header padding-16-24 lg-text--secondary-blue-500 ff-regular lg-text fw-700">
                    Urpay
                </div>
                <div>
                    <div class="neutral-dark-500 font-weight-500 font-size-18">
                        Please Enter The One Time Password
                    </div>
                    <div class="neutral-dark-300 font-weight-500 font-size-18 mt-16">
                        One time password has been send to your registered mobile number in urpay
                    </div>
                    <div class="edit-input mt-16">
                        <div id="otp_val">
                            <input type="text" maxlength="1" class="otp-input" id="otp_1" placeholder="-" />
                            <input type="text" maxlength="1" class="otp-input" id="otp_2" placeholder="-" />
                            <input type="text" maxlength="1" class="otp-input" id="otp_3" placeholder="-" />
                            <input type="text" maxlength="1" class="otp-input" id="otp_4" placeholder="-" />

                        </div>
                        <div class="mt-10">
                            <a href="" class="font-size-20 font-weight-600 line-height-30 edit-option primary-color-500"
                                id="resent_otp">
                                Resend OTP
                            </a>
                        </div>

                        <div id="error_msg_1" class="error_msg">
                            <%= errorMessage %>
                        </div>
                        
                    </div>
                </div>
                <div class="button-div">
                    <button class="primary-button ml-16" id="enter_otp_submit">Submit and Confirm</button>
                </div>
            </div>
        </div>
    </div>
</body>